body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.nav-drawer,
.refresh,
.nav-list {
    display: none;
}

.navbar {
    display: block;
    height: 50px;
}

.logo {
    display: block;
    height: 100px;
    width: 100px;
    float: left;
}
.logo .logopic {
    background: url('/img/logo.png');
    background-size: contain;
    height: 100px;
    width: 100px;

}

content {
    display: flex;
    flex-direction: column;
    background: #77c5d3;
}
.task {
    background: #ffffff;
    max-width: 500px;
    padding: 20px;
    display: block;
    margin-bottom: 5px;
    box-shadow: 2px 3px 1px 0 rgba(0,0,0,0.3);
}

.task .taskName,
.task .taskDescription,
.task .taskPriority {
    border: none;
}

/*.checkbox {
	position:relative;
	padding-left:25px;
}
.checkbox input[type=checkbox] {
	display:none;
}
.checkbox label:after {
	content:'';
	display:block;
	height:14px;
	width:14px;
	outline:1px solid #939598;
	position:absolute;
	top:0;
	left:0;
}
.checkbox input[type=checkbox]:checked + label:after {
	outline:1px solid #939598;
	border:2px solid #fff;
	width:10px;
	height:10px;
	background-color:#63849F;
}*/
.isDone {
    display: block;
    float: left;
}

.task .taskName {
    display: block;
    font-weight: bold;
    max-width: 300px;
    height: 15px;
    width: 80%;
}

.task .taskDescription {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    height: 50px;
    resize: none;
}

.date-time {
    position: relative;

    font-size: 10px;
    font-weight: bold;
}